# Type I

In [1]:
n=5
for i in range(n):
    for j in range(n):
        print("*",end="")
    print()

*****
*****
*****
*****
*****

In [3]:
n=5
for i in range(n):
    for j in range(i+1):
        print("*",end="")
    print()

*
**
***
****
*****

In [4]:
n=5
for i in range(n):
    for j in range(n-i):
        print("*",end="")
    print()

*****
****
***
**
*

In [7]:
n=5
for i in range(n):
    for j in range(i+1):
        print(i+1,end="")
    print()

1
22
333
4444
55555

In [12]:
n=5
for i in range(n):
    for j in range(1,i+2):
        print(j,end="")
    print()

1
12
123
1234
12345

In [14]:
n=5
for i in range(n):
    for j in range(n-i):
        print(j+1,end="")
    print()

12345
1234
123
12
1

# Type II

In [23]:
n= 5

for i in range(n):
    for j in range(n-1-i):
        print(" ",end="")
        
    for k in range(2*i+1):
        print("*",end='')
    print()

    *
   ***
  *****
 *******
*********

In [27]:
n= 5

for i in range(n):
    for j in range(i):
        print(" ",end="")
        
    for k in range((2*n)-(2*i+1)):
        print("*",end='')
    print()

*********
 *******
  *****
   ***
    *

In [28]:
n= 5

for i in range(n):
    for j in range(n-1-i):
        print(" ",end="")
        
    for k in range(2*i+1):
        print("*",end='')
    print()
    


for i in range(n):
    for j in range(i):
        print(" ",end="")
        
    for k in range((2*n)-(2*i+1)):
        print("*",end='')
    print()

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

In [57]:
n = 5

for i in range(2*n):
    if i<n:
        for j in range(n-i-1):
            print(" ",end='')

        for k in range(2*i+1):
            print("*",end="")
        
    else:
        for l in range(i-n):
            print(" ",end="")
            
        for m in range((2*n)-(2*(i-n)+1)):
            print("*",end="")
    print()

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

In [64]:
n=5

for i in range(2*n-1):
    if i<n:
        for j in range(i+1):
            print('*',end="")
        
    else:
        for k in range(2*n-i-1):
            print('*',end="")
    
    print()

*
**
***
****
*****
****
***
**
*

In [12]:
n = 5

for i in range(n):
    for j in range(i+1):
        if ((i+j)%2==0):
            print(1,end=" ")
        else:
            print(0,end=" ")
    print()

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

In [31]:
n=4

for i in range(n):
    for j in range(i+1):
        print(j+1,end='')
    for k in range(n-i-1):
        print(' ',end='')
    for l in range(n-i-1):
        print(' ',end='')
    for m in range(i+1,0,-1):
        print(m,end='')
    print()

1      1
12    21
123  321
12344321

In [37]:
n=5

for i in range(n):
    
    for j in range(i+1):
        print((i*2+(j*1)), end=" ")
        
    print()

0
2 3
4 5 6
6 7 8 9
8 9 10 11 12

In [39]:
print(chr(65))

A